html, body {
    margin: 0;
    height: 100%;
}

.main h1 {
    text-align: center;
    color: #114784;
    margin-top: 5px;
    font-size: 2.3em;
}

.btn-row {
    text-align: center;
    padding: 0 0 20px 0;
}

.start-btn {
    background-color: #3f6896;
    border-radius: 1px;
    font-size: 16px;
    color: white;
    box-shadow: 0 0 4px -1px black;
}

.start-btn:hover {
    background-color: #fbef90;
    color: black;
}

.start-btn:focus, .start-btn:active {
    outline: none;
}

.exposed-map-col{
    text-align: center;
}

.map-wrapper {
    text-align: center;
    min-width: 300px;
}

.map-uncovered {
    display: inline-block;
    box-shadow: 0 0 9px -3px black;
    border-bottom: 2px solid #3f6896;
}

.map-exposed {
    display: inline-block;
    box-shadow: 0 0 9px -3px black;
    border-bottom: 2px solid #3f6896;
}

.map-row {
    height: 30px;
}

.map-element {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: background-color 0.6s ease-out;
    -moz-transition: background-color 0.6s ease-out;
    -o-transition: background-color 0.6s ease-out;
    transition: background-color 0.6s ease-out;
}

.water-sector {
    background-color: #3f6896;
    z-index: 1;
}

.island-sector {
    background-color: #fbef90;
    z-index: 2;
    box-shadow: 0 2px 0 0 #988700;
}

.island-sector:hover {
    background-color: #dcd17b;
    box-shadow: inset 0 1px 2px 0 #988700;
}

.hidden-sector {
    background-color: #50687d;
    z-index: 2;
    box-shadow: 0 0 1px 0 #fff8bc;
}

.processing-sector {
    z-index: 3;
    background-color: #7bd84e;
    box-shadow: 0px 0px 14px -3px #00ff0c;
}